<div class="footer card show-for-large">
  Source EIA (www.eia.gov) and national statistics sources. Petroleum supply includes the production of crude oil (including lease condensate), natural gas plant liquids, and it also includes refinery processing gain for volume (TBPD) only. Petroleum and other liquids consumption includes all domestic use and international bunkering of refined products, refinery fuel, and where available, direct combustion of crude oil and refinery by-products
</div>
<div class="footer card hide-for-large">
  Source EIA (www.eia.gov) and national statistics sources.
</div>
