$primary-text-color: #878ECA;
$card-background-color: #232554;
$card-shadow-color: rgba(0, 0, 0, 0.25);
$card-value-font-color: #DDDFF1;
$list-name-font-color: #E7E7E7;

$card-border-radius: 10px;

$header-font-size: 1.750em; // 28px
$card-title-font-size: 1.313em;  //21px
$card-value-font-size: 3em;  //48px
$card-value-default-font-size: 1.750em; // 28px
$card-value-unit-font-size:  0.875rem; // 14px

$production-card-height: 13.75rem; //220px;
$consumption-card-height-mobile: 13.75rem; //220px
$production-card-width-desktop: 18.75rem; //300px;
$consumption-card-height-desktop: 9.375rem; //150px
$consumption-card-width-desktop: 18.75rem; //300px
$card-title-line-height: 1.563rem; //25px;
$card-value-line-height: 3.625rem; //58px;
$brent-wti-height-mobile: 7.5rem; // 120px
$brent-wti-height-desktop: 21.25rem; // 340px
$brent-wti-width-desktop: 7.5rem; // 120px
$county-map-height-mobile: 24.688rem;// 395px
$county-map-height-desktop: 19.688rem;// 315px
$county-map-width-desktop: 37.5rem;// 600px
$producers-list-height: 29.313rem;//469px
$producers-list-width-desktop: 18.75rem;//300px
$consumer-height: 10rem; //160px;
$consumer-height-desktop: 10.625rem; //170px;
$consumer-width-desktop: 18.75rem; //300px;
$chart-container-height-mobile: 23.125rem; // 370px
$chart-container-height-desktop: 21.875rem; // 350px
$chart-container-width-desktop: 27.5rem; // 440px
